.die{
    width: 4rem;
    height: 4rem;
    border-radius: 8px ;
    color: #2B283A;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.die:hover{
    cursor: pointer;
    background-color: #59E391;
    transition: transform, 0.3s;
    transform: scale(1.2);
}

.die .text{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 540px){
    .die{
        width: 3rem;
        height: 3rem;
        border-radius: 8px ;
        color: #2B283A;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .six-container{
        line-height: 62% !important ;
    }
    .three-container{
        line-height: 35% !important ;
    }
    .four-container{
        line-height: 65% !important ;
    }
    .two-container{
        line-height: 60% !important ;
    }
    .five-container{
        line-height: 35% !important ;
    }
}

